.footer {
  background-color: antiquewhite;
  padding: 5px 20px;
  &Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &Btn {
      display: flex;
      align-items: center;
      gap: 20px;
      & button {
        padding: 10px;
      }
    }
  }
}
    