.card {
  &Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid antiquewhite;

    &Btns {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
    }

    & div {
      text-align: center;
    }
  }
}